###
API
###

.. highlight:: lilypond

{% for ly_file in documentation %}
File ``{{ ly_file }}``
==================
{% for doc in documentation[ly_file] %}
.. attribute:: {{ doc['name'] }}
{% if doc['documentation'] is not none %}
{{ doc['documentation'] }}
{% else %}
Not documented.
{% endif %}
{% endfor %}
{% endfor %}